.mixer {
  display: flex;
  flex-direction: column;

  &__button {
    background: darkred;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    margin: .5em;
    padding: .5em 1em;
  }
}
