.mixer {
  display: flex;
  flex-direction: column;

  &__button {
    background: darkred;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    font-size: 14px;
    margin: .2em;
    padding: .2em .5em;
  }
}
